<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="plane">
        <header class="grid-wrapper-header">
            <div>
                <a href="/home/"><img src="{% static 'assets/icons/Logotype accent RGB 2.png' %}" alt="logo silant" width="100" height="100"></a>
            </div>
            <div class="inner-grid-header">
                <span>+7-8352-20-12-03, telegram</span>
                {% if user.is_authenticated %}
                <span>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="inform" type="submit">Выход</button>
                    </form>
                </span>
                {% else %}
                <span><a href="/auth/login/">Авторизация</a></span>
                {% endif %}
                <span>Электронная сервисная книжка "Мой Силант"{% if user.is_authenticated %} пользователя {{ user.username }}{% endif %}</span>
                {% if user.is_authenticated and user.role != 'CL' %}
                    <span><a href="/administration/">Администрирование</a></span>
                {% endif %}
            </div>
        </header>
        <div class="main-panel">
            {% block body %}{% endblock body %}
        </div>
        <footer>
            <span>+7-8352-20-12-03, telegram</span>
            <span>Мой Силант 2022</span>
        </footer>
    </div>
</body>
</html>