<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <img src="{% static 'assets/icons/Logotype accent RGB 2.png' %}" alt="logo silant" width="100" height="100">
        <span>+7-8352-20-12-03, telegram</span>
        <button>Авторизация</button>
        <span>Электронная сервисная книжка "Мой Силант"</span>

    </header>
    {% block body %}{% endblock body %}
</body>
</html>