{% extends 'flatpages/default.html' %}

{% load static %}

{% block title %}
Добавление модели ведущего моста
{% endblock title %}

{% block body %}
{% if user.role != 'MG' %}
<div>У вас нет доступа для просмотра данной страницы</div>
{% else %}
<div>
    <form method="post">
            {% csrf_token %}
            <div>Название{{ form.title }}</div>
            <div>Описание{{ form.description }}</div>
            <button type="submit">Создать</button>
        </form>
</div>
{% endif %}
{% endblock body %}

