{% extends 'flatpages/default.html' %}

{% block title %}{{ engine_model_detail }}{% endblock title %}

{% block body %}
<div class="table">
    <table border="1">
        <tr>
            <td>Название</td>
            <td>Описание</td>
            {% if user.role == 'MG' %}
            <td>Редактирование</td>
            {% endif %}
        </tr>
        <tr>
            <td>{{ engine_model_detail.title }}</td>
            <td>{{ engine_model_detail.description }}</td>
            {% if user.role == 'MG' %}
            <td><a href="{{ engine_model_detail.pk }}/update">✏️</a><a href="{{ engine_model_detail.pk }}/delete">❌</a></td>
            {% endif %}
        </tr>
    </table>
    </div>   
{% endblock body %}