{% extends 'flatpages/default.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
Главная
{% endblock title %}

{% block body %}
<div>
    <form action="" method="get">
        {{ filterset.form.non_field_errors }}
        {{ filterset.form.name__icontains.errors }}
        <span class="filter">Название {{ filterset.form.title }}</span>
        <span class="filter">Описание {{ filterset.form.description }}</span>
        <button class="filter" type="submit">Найти</button>
    </form>
</div>
{% if user.role == 'MG' %}
<span><a href="create">+ Добавить</a></span>
{% endif %}
<!-- equipment_models -->
        {% if equipment_models %}
        <div>
            <div class="table">
                <table border="1">
                    <tr>
                        <td>Название</td>
                        <td>Описание</td>
                        {% if user.role == 'MG' %}
                        <td>Редактирование</td>
                        {% endif %}
                    </tr>
                    {% for equipment_model in equipment_models %}
                    <tr>
                        <td><a href="{{ equipment_model.pk }}">{{ equipment_model.title }}</a></td>
                        <td>{{ equipment_model.description }}</td>
                        {% if user.role == 'MG' %}
                        <td><a href="{{ equipment_model.pk }}/update">✏️</a><a href="{{ equipment_model.pk }}/delete">❌</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
<!-- machines -->   


<!-- pagination -->
 {% if paginator.num_pages > 1 %}
    {% if page_obj.has_previous %}
    <span class="pagination"><a href="?{% url_replace page=page_obj.previous_page_number %}">&laquo;</a></span>
    {% else %}
    <span class="pagination">&laquo;</span>
    {% endif %}
    {% for p in paginator %}
        {% if p.number == page_obj.number %}
        <span class="pagination active">{{ p.number }}</span>
        {% else %}
        <span class="pagination"><a href="?{% url_replace page=p.number %}">{{ p.number }}</a></span>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <span class="pagination"><a href="?{% url_replace page=page_obj.next_page_number %}">»</a></li></span>
    {% else %}
    <span class="pagination">»</span>
    {% endif %}
{% endif %}    
{% endblock body %}

