{% extends 'flatpages/default.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
Главная
{% endblock title %}

{% block body %}
    {% if user.is_authenticated %}
    <span>
        {{ filterset.form.non_field_errors }}
        {{ filterset.form.name__icontains.errors }}
        Модель {{ filterset.form.equipment_model }}
        <input type="submit" value="Найти">
    </span>
        {% if machines %}
            <table border="width">
                <tr>
                    <td>Заводской номер</td>
                    <td>Модель техники</td>
                    <td>Заводской номер двигателя</td>
                    <td>Модель двигателя</td>
                    <td>Модель трансмиссии</td>
                    <td>Заводской номер трансмиссии</td>
                    <td>Модель ведущего моста</td>
                    <td>Заводской ведущего моста</td>
                    <td>Модель управляемого моста</td>
                    <td>Заводской номер управляемого моста</td>
                    <td>Договор поставки</td>
                    <td>Дата отгрузки с завода</td>
                    <td>Комплектация (доп.опции)</td>
                    <td>Сервисная компания</td>
                </tr>
                {% for machine in machines %}
                <tr>
                    <td>{{ machine.equipment_number }}</td>
                    <td>{{ machine.equipment_model }}</td>
                    <td>{{ machine.engine_model }}</td>
                    <td>{{ machine.engine_number }}</td>
                    <td>{{ machine.transmission_model }}</td>
                    <td>{{ machine.transmission_number }}</td>
                    <td>{{ machine.driving_axle_model }}</td>
                    <td>{{ machine.driving_axle_number }}</td>
                    <td>{{ machine.control_axle_model }}</td>
                    <td>{{ machine.control_axle_number }}</td>
                    <td>{{ machine.shipment_contract }}</td>
                    <td>{{ machine.shipment_out_date }}</td>
                    <td>{{ machine.options }}</td>
                    <td>{{ machine.service_company }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% else %}
        {{ 'Главная' }}
    {% endif %}
{% endblock body %}

<div class="col-lg-12">
    <div>
        <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
            <li><a href="?{% url_replace page=page_obj.previous_page_number %}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for p in paginator %}
            {% if p.number == page_obj.number %}
            <li class="active"><a href="?{% url_replace page=p.number %}">{{ p.number }}</a></li>
            {% else %}
            <li><a href="?{% url_replace page=p.number %}">{{ p.number }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?{% url_replace page=page_obj.next_page_number %}">»</a></li>
            {% else %}
            <li class="disabled"><span>»</span></li>
            {% endif %}
        </ul>
    </div>
</div>