<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if user.is_authenticated %}
{{ filterset.form.non_field_errors }}
{{ filterset.form.name__icontains.errors }}
<label for="{{ filterset.form.name__icontains.id_for_label }}">Поиск</label>
<input id="{{ filterset.form.name__icontains.id }}" name="{{ filterset.form.name__icontains.name }}" class="form-control">
{{ machines }}
{% else %}
{{ 'Главная' }}
{% endif %}
</body>
</html>