{% extends 'flatpages/default.html' %}

{% block title %}{{ tech_service_detail }}{% endblock title %}

{% block body %}
{% if user.role == "CL" and tech_service_detail.machine.client != user %}
    <div>У вас нет доступа для просмотра данной страницы</div>
{% elif user.role == "SR" and tech_service_detail.service_company.profile != user %}
    <div>У вас нет доступа для просмотра данной страницы</div>
{% else %}
<div>
    <div class="table">
        <table border="1">
            <tr>
                <td>Вид ТО</td>
                <td>Дата проведения ТО</td>
                <td>Наработка м/час</td>
                <td>№ заказ-наряда</td>
                <td>Дата заказ-наряда</td>
                <td>Машина</td>
                <td>Сервисная компания</td>
                {% if user.role == 'MG' %}
                <td>Редактирование</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ tech_service_detail.service_type }}</td>
                <td>{{ tech_service_detail.service_date|date:"d.m.Y H:i" }}</td>
                <td>{{ tech_service_detail.mileage }}</td>
                <td>{{ tech_service_detail.order_number }}</td>
                <td>{{ tech_service_detail.order_date|date:"d.m.Y" }}</td>
                <td><a href="/home/{{ tech_service_detail.machine.pk }}">{{ tech_service_detail.machine }}</a></td>
                <td>{{ tech_service_detail.service_company }}</td>
                {% if user.role == 'MG' %}
                <td><a href="{{ tech_service_detail.pk }}/update">✏️</a><a href="{{ tech_service_detail.pk }}/delete">❌</a></td>
                {% endif %}
            </tr>
        </table>
    </div>
{% endif %}
{% endblock body %}